.fortune_room {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: red;
  background-image: url('../../server/public/fortune-background.jpeg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.tarot_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  /* background-color: red; */
  border-radius: 50px;
  max-width: 500px;
}

.tarot_1 {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.tarot_1 img {
  max-width: 65vw;
  max-height: 65vh;
  border-radius: 40px;
}

.tarot_text {
  color: black;
  position: absolute;
  top: 45%;
  left: 8%;
  width: 85%;
  text-align: center;
  font-size: 2rem;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}
